certifi==2025.6.15
charset-normalizer==3.4.2
cycler==0.12.1
Cython==3.1.2
idna==3.10
importlib_metadata==8.5.0
largestinteriorrectangle==0.2.1
llvmlite==0.41.1
matplotlib==2.0.0
numpy==1.26.4
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
pip==24.2
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.3
setuptools==75.1.0
six==1.17.0
urllib3==2.2.3
wheel==0.44.0
zipp==3.20.2
